html {
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    overflow-x:hidden;
    overflow-y:hidden
}
html body {
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    overflow-x:hidden;
    overflow-y:hidden;
    color:#000;
    font-family:DejaVu Serif,Roboto,Arial,Noto Sans,Noto,sans-serif
}
a,
button,
input {
    padding:0;
    margin:0
}
a {
    height:50px
}
button {
    height:50px
}
ul {
    padding:0;
    margin:0
}
li {
    padding:0;
    margin:0
}
span {
    height:50px
}
p {
    margin-top:10px;
    margin-bottom:10px
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color:#696969;
    font-weight:normal;
    display:block;
    letter-spacing:.09em
}
h1 {
    font-size:2em;
    margin-block-start:.67em;
    margin-block-end:.67em
}
h2 {
    font-size:1.5em;
    margin-block-start:.83em;
    margin-block-end:.83em
}
h3 {
    font-size:1.17em;
    margin-block-start:1em;
    margin-block-end:1em
}
h4 {
    font-size:1em;
    margin-block-start:1.33em;
    margin-block-end:1.33em
}
h5 {
    font-size:.83em;
    margin-block-start:1.67em;
    margin-block-end:1.67em
}
h6 {
    font-size:.67em;
    margin-block-start:2.33em;
    margin-block-end:2.33em
}
small {
    font-size:75%
}
hr {
    border:0;
    height:1px;
    background:#333;
    background-image:-moz-linear-gradient(left,#ccc,#333,#ccc);
    margin-top:10px;
    margin-bottom:10px
}
body>noscript>ul {
    padding-left:50px
}
.hidden {
    display:none
}
.noPadding {
    padding:0
}
.noMargin {
    margin:0
}
.noPaddingMargin {
    padding:0;
    margin:0
}
.noMarginFirstChild *:first-child {
    margin:0
}
.noTopMarginFirstChild *:first-child {
    margin-top:0
}
.noRightMarginFirstChild *:first-child {
    margin-right:0
}
.noBottomMarginFirstChild *:first-child {
    margin-bottom:0
}
.noLeftMarginFirstChild *:first-child {
    margin-left:0
}
.noMarginLastChild *:last-child {
    margin:0
}
.noTopMarginLastChild *:last-child {
    margin-top:0
}
.noRightMarginLastChild *:last-child {
    margin-right:0
}
.noBottomMarginLastChild *:last-child {
    margin-bottom:0
}
.noLeftMarginLastChild *:last-child {
    margin-left:0
}
.noPaddingFirstChild *:first-child {
    padding:0
}
.noTopPaddingFirstChild *:first-child {
    padding-top:0
}
.noRightPaddingFirstChild *:first-child {
    padding-right:0
}
.noBottomPaddingFirstChild *:first-child {
    padding-bottom:0
}
.noLeftPaddingFirstChild *:first-child {
    padding-left:0
}
.noPaddingLastChild *:last-child {
    padding:0
}
.noTopPaddingLastChild *:last-child {
    padding-top:0
}
.noRightPaddingLastChild *:last-child {
    padding-right:0
}
.noBottomPaddingLastChild *:last-child {
    padding-bottom:0
}
.noLeftPaddingLastChild *:last-child {
    padding-left:0
}
.defaultPadding {
    padding:10px
}
.defaultLeftPadding {
    padding-left:10px
}
.defaultRightPadding {
    padding-right:10px
}
.defaultTopPadding {
    padding-top:10px
}
.defaultBottomPadding {
    padding-bottom:10px
}
.doublePadding {
    padding:20px
}
.doubleLeftPadding {
    padding-left:20px
}
.doubleRightPadding {
    padding-right:20px
}
.doubleTopPadding {
    padding-top:20px
}
.doubleBottomPadding {
    padding-bottom:20px
}
.defaultMargin {
    margin:10px
}
.defaultLeftMargin {
    margin-left:10px
}
.defaultRightMargin {
    margin-right:10px
}
.defaultTopMargin {
    margin-top:10px
}
.defaultBottomMargin {
    margin-bottom:10px
}
.doubleMargin {
    margin:20px
}
.doubleLeftMargin {
    margin-left:20px
}
.doubleRightMargin {
    margin-right:20px
}
.doubleTopMargin {
    margin-top:20px
}
.doubleBottomMargin {
    margin-bottom:20px
}
.maxWidth {
    width:100%
}
.maxHeight {
    height:100%
}
.maxWidthHeight {
    width:100%;
    height:100%
}
.elementHeight {
    height:50px
}
.elementLeftPadding {
    padding-left:10px
}
.elementRightPadding {
    padding-right:10px
}
.elementLeftRightPatting {
    padding-left:10px;
    padding-right:10px
}
.floatLeft {
    float:left
}
.floatRight {
    float:right
}
.floatNone {
    float:none
}
.floatClear {
    clear:both
}
.noWrap {
    white-space:nowrap
}
.autoScrollBars {
    overflow:auto
}
.noScrollBars {
    overflow:hidden
}
.verticalScrollBar {
    overflow-y:auto
}
.horizontalScrollBar {
    overflow-x:auto
}
.noVerticalScrollBar {
    overflow-y:hidden
}
.noHorizontalScrollBar {
    overflow-x:hidden
}
.asUppercase {
    text-transform:uppercase
}
.asLowercase {
    text-transform:lowercase
}
.firstAsUppercase {
    text-transform:capitalize
}
.textCursor {
    cursor:text
}
.pointerCursor {
    cursor:pointer
}
.tableElement {
    display:table
}
.textColorGray {
    color:#696969
}
.lineHeight {
    line-height:50px
}
.verticalStrechPanel {
    min-height:0px!important;
    height:auto!important;
    overflow:hidden
}
.horisontalStrechPanel {
    min-width:0px!important;
    width:auto!important;
    overflow:hidden
}
.halfWidth {
    width:50%
}
.quarterWidth {
    width:25%
}
.threeQuartersWidth {
    width:75%
}
.normalBackground {
    background:white
}
.defaultBorder {
    border:solid 2px steelblue
}
.defaultShadow {
    box-shadow:0 0 2px #333
}
.defaultRadius {
    border-radius:6px;
    -moz-border-radius:6px 6px 6px 6px;
    -webkit-border-radius:6px
}
.defaultTextBackground {
    background:white
}
.centerBox {
    margin:auto;
    max-width:1024px;
    width:auto
}
.centerText {
    text-align:center
}
.importantNote {
    color:red;
    font-weight:bold
}
.timeLabel {
    color:#ff4500
}
.detailed {
    margin-top:15px;
    border-left:solid 6px;
    border-left-color:#73d073;
    padding-left:5px
}
.minifiedText {
    font-size:xx-small
}
html body #application {
    height:100%;
    width:100%;
    padding:0;
    margin:0
}
#headerPanel {
    height:auto
}
#headerPanel div.consentBody {
    margin:auto;
    max-width:1024px;
    width:auto;
    background:white;
    color:#4b4b4bde;
    font-family:DejaVu Serif,Roboto,Arial,Noto Sans,Noto,sans-serif;
    font-weight:900;
    padding:10px;
    background:lightyellow
}
#headerPanel div.consentBody p {
    display:inline
}
#headerPanel div.consentBody button {
    border-radius:5px;
    border-left:solid gray 1px;
    border-right:solid gray 1px;
    border-top:solid gray 1px;
    border-bottom:solid gray 1px;
    margin-top:10px;
    margin-bottom:10px;
    height:28px;
    vertical-align:middle;
    font-weight:900;
    background-color:#d3d3d3;
    color:green;
    cursor:pointer
}
header {
    margin:auto;
    max-width:1024px;
    width:auto;
    height:50px;
    background:white;
    color:#4b4b4bde;
    font-family:DejaVu Serif,Roboto,Arial,Noto Sans,Noto,sans-serif;
    font-size:14px;
    font-weight:800
}
header>ul {
    width:50%;
    height:50px;
    overflow:hidden
}
header>ul>li {
    height:50px;
    float:left;
    list-style-type:none;
    display:table
}
header>ul>li>button {
    height:50px;
    width:50px;
    cursor:pointer;
    border:none;
    background:none;
    color:gray;
    outline:none
}
header>ul>li>button>i {
    height:50px;
    display:table-cell;
    padding-left:5px;
    padding-right:10px;
    font-family:"Material Icons";
    font-weight:normal;
    font-style:normal;
    font-size:24px;
    line-height:1;
    text-transform:none;
    letter-spacing:normal;
    word-wrap:normal;
    white-space:nowrap;
    direction:ltr;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    -moz-osx-font-smoothing:grayscale;
    font-feature-settings:"liga";
    vertical-align:middle
}
header>ul>li>button>i.alertMaterialIcon {
    color:red
}
header>ul>li>span {
    height:50px;
    display:table-cell;
    vertical-align:middle;
    padding-left:10px;
    padding-right:10px;
    font-weight:900
}
header>ul:first-child {
    width:calc(100% - 110px);
    height:50px;
    float:left
}
header>ul:last-child {
    width:100px;
    height:50px;
    float:right;
    margin-right:10px
}
header>ul:last-child>li {
    height:50px;
    float:right
}
header>ul:last-child>li>button {
    border-top:solid gray 1px;
    border-bottom:solid gray 1px;
    margin-top:10px;
    margin-bottom:10px;
    height:28px;
    vertical-align:middle;
    font-weight:900;
    color:#696969
}
header>ul:last-child>li>button:focus {
    outline:none;
    outline-color:transparent;
    transition:outline-color .7s ease-out 1s
}
header>ul:last-child>li>button::-moz-focus-inner {
    border:0
}
header>ul:last-child>li>button:disabled {
    background-color:#d3d3d3;
    color:green
}
header>ul:last-child>li:first-child>button {
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-right:solid gray 1px
}
header>ul:last-child>li:last-child>button {
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-left:solid gray 1px
}
nav {
    margin:auto;
    max-width:1024px;
    width:auto;
    height:50px;
    background:white;
    color:#4b4b4bde;
    font-family:DejaVu Serif,Roboto,Arial,Noto Sans,Noto,sans-serif;
    font-weight:900
}
nav>ul {
    height:50px;
    background:white
}
nav>ul>li {
    height:50px;
    float:left;
    list-style-type:none;
    display:table
}
nav>ul>li>a {
    height:46px;
    padding-left:10px;
    padding-right:10px;
    outline:none;
    color:#191970;
    border-bottom:solid 4px white;
    display:table-cell;
    vertical-align:middle;
    font-family:DejaVu Serif,Roboto,Arial,Noto Sans,Noto,sans-serif;
    font-size:14px;
    font-weight:800;
    text-decoration:none;
    text-transform:uppercase
}
nav>ul>li>a.active {
    height:46px;
    border-bottom:solid 4px rgba(237,38,61,.87);
    color:#2f4f4f
}
nav>ul>li>a:hover {
    border-bottom:solid 4px rgba(255,157,0,.87)
}
main {
    height:calc(100% - 100px);
    min-height:calc(100% - 100px);
    overflow-x:hidden
}
main .applicationContentMain {
    min-height:calc(100% - 70px);
    padding:10px;
    margin:0;
    overflow-x:auto
}
#sidenav {
    width:290px;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:white;
    opacity:1
}
#background {
    height:100%;
    width:100%;
    background:white;
    top:0;
    left:0;
    position:absolute;
    z-index:-1000;
    display:block
}
#sideNavigationHeaderPanel {
    width:100%;
    background:gray;
    height:50px
}
#sideNavigationHeaderPanel>ul {
    height:50px;
    width:100%;
    color:#ffffffde;
    font-family:DejaVu Serif,Roboto,Arial,Noto Sans,Noto,sans-serif;
    font-size:14px;
    font-weight:800
}
#sideNavigationHeaderPanel>ul>li {
    float:left;
    height:50px;
    list-style-type:none;
    display:table
}
#sideNavigationHeaderPanel>ul>li>button {
    height:50px;
    width:50px;
    cursor:pointer;
    border:none;
    background:none;
    color:#fff;
    outline:none;
    border-radius:50%
}
#sideNavigationHeaderPanel>ul>li>button>i {
    font-family:"Material Icons";
    font-weight:normal;
    font-style:normal;
    font-size:24px;
    line-height:1;
    text-transform:none;
    letter-spacing:normal;
    word-wrap:normal;
    white-space:nowrap;
    direction:ltr;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    -moz-osx-font-smoothing:grayscale;
    font-feature-settings:"liga";
    vertical-align:middle
}
#sideNavigationHeaderPanel>ul>li>span {
    height:50px;
    width:100%;
    padding-left:10px;
    padding-right:10px;
    display:table-cell;
    vertical-align:middle
}
#sideNavigationContentPanel {
    width:100%;
    height:calc(100% - 50px);
    min-height:calc(100% - 50px);
    overflow-y:auto
}
#sideNavigationContentPanel>ul {
    width:100%;
    font-family:DejaVu Serif,Roboto,Arial,Noto Sans,Noto,sans-serif;
    font-size:14px;
    font-weight:800;
    padding:0;
    margin:0
}
#sideNavigationContentPanel>ul li.sideNavMenuItems {
    height:50px;
    width:100%;
    list-style-type:none;
    display:table;
    padding:0;
    margin:0
}
#sideNavigationContentPanel>ul li.sideNavMenuItems>a {
    height:50px;
    border-left:solid 4px white;
    width:calc(100% - 14px);
    color:#696969;
    vertical-align:middle;
    text-transform:uppercase;
    font-family:DejaVu Serif,Roboto,Arial,Noto Sans,Noto,sans-serif;
    font-size:14px;
    font-weight:800;
    list-style-type:none;
    outline:none;
    text-decoration:none;
    display:table-cell;
    padding:0 0 0 10px;
    margin:0
}
#sideNavigationContentPanel>ul li.sideNavMenuItems>a>i {
    font-family:"Material Icons";
    font-weight:normal;
    font-style:normal;
    font-size:24px;
    line-height:1;
    text-transform:none;
    letter-spacing:normal;
    word-wrap:normal;
    white-space:nowrap;
    direction:ltr;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    -moz-osx-font-smoothing:grayscale;
    font-feature-settings:"liga";
    vertical-align:middle;
    margin-right:20px
}
#sideNavigationContentPanel>ul li.sideNavMenuItems>a.noHover:hover {
    border-left:solid 4px white!important;
    background:white
}
#sideNavigationContentPanel>ul li.sideNavMenuItems>a:hover {
    border-left:solid 4px rgba(255,157,0,.87)!important;
    background:lightyellow
}
#sideNavigationContentPanel>ul li.sideNavMenuItems>a.active {
    border-left:solid 4px rgba(237,38,61,.87);
    width:calc(100% - 4px)
}
#sideNavigationContentPanel>ul li:last-child {
    margin-bottom:10px
}
#sideNavigationContentPanel>ul li.sideNavThinMenuItems {
    height:4px;
    display:table;
    width:100%
}
#sideNavigationContentPanel>ul li>hr {
    padding:0;
    margin:0;
    border:0;
    height:1px;
    background-image:linear-gradient(to right,rgba(76,123,168,0),rgba(76,123,168,.75),rgba(76,123,168,0))
}
#sideNavigationContentPanel>ul li>div {
    padding-right:10px
}
#sideNavigationContentPanel>ul li>div>select {
    height:37px;
    width:100%;
    padding-left:10px;
    padding-right:10px;
    display:table-cell;
    vertical-align:middle
}
#footerPanel {
    width:100%;
    height:50px;
    background:white
}
footer {
    margin:auto;
    max-width:1024px;
    width:auto;
    height:50px;
    background:white;
    color:#4b4b4bde;
    font-family:DejaVu Serif,Roboto,Arial,Noto Sans,Noto,sans-serif;
    font-size:14px;
    font-weight:800
}
footer>div {
    width:100%;
    max-width:100%;
    float:left
}
footer>div>ul {
    width:100%
}
footer>div>ul>li {
    float:left;
    list-style-type:none;
    display:table
}
footer>div>ul>li>i {
    height:50px;
    display:table-cell;
    vertical-align:middle;
    padding-left:10px;
    padding-right:5px;
    font-weight:900
}
footer>div>ul>li>a {
    height:50px;
    display:table-cell;
    vertical-align:middle;
    outline:none;
    color:#4b4b4bde;
    font-family:DejaVu Serif,Roboto,Arial,Noto Sans,Noto,sans-serif;
    font-size:14px;
    font-weight:800;
    text-decoration:none
}
#modalBody {
    height:100%;
    width:100%;
    top:0;
    left:0;
    position:absolute;
    background:grey;
    opacity:.5
}
.applicationContentMain article {
    max-width:100%;
    margin:auto;
    max-width:1024px;
    width:auto;
    box-shadow:0 0 2px #333;
    background:white;
    color:#141412;
    font-size:105%;
    line-height:1.7
}
.applicationContentMain article>div.sectionHeaderPicture {
    width:100%;
    height:200px;
    padding:0;
    margin:0
}
.applicationContentMain article>div.articleSectionPanel {
    padding:10px
}
.applicationContentMain article>div.articleSectionPanel>section *:first-child {
    margin-top:0
}
.applicationContentMain article>div.articleSectionPanel>section *:last-child {
    margin-bottom:0
}
.applicationContentMain article>div.articleSectionPanel>section ul {
    margin-left:17px
}
.applicationContentMain article>div.articleSectionPanel>section div.imagePanel {
    max-width:350px
}
.applicationContentMain article>div.articleSectionPanel>section div.imagePanel img.sectionImage {
    float:left;
    padding-right:10px;
    width:100%;
    display:inline-block
}
.applicationContentMain article a {
    text-decoration:none
}
.applicationContentMain article a:link {
    color:#696969
}
.applicationContentMain article a:visited {
    color:#696969
}
.applicationContentMain article a:link:hover {
    background-color:#fff
}
.applicationContentMain article a:visited:hover {
    background-color:#fff
}
.applicationContentMain article a:active {
    color:#0f0
}
.articleOverviewContentBox {
    width:255px;
    height:200px;
    margin:8px;
    padding:5px;
    background-repeat:no-repeat;
    overflow:hidden;
    font-weight:normal
}
.articleOverviewContentBox:hover {
    background-color:#dfe7f2;
    box-shadow:0 0 10px #000000e6
}
.articleOverviewContentBoxWindow {
    width:255px;
    height:130px;
    overflow:hidden
}
.articleOverviewContentBoxPicture {
    width:255px;
    height:130px
}
.articleOverviewContentBoxPicture:hover {
    transform:scale(1.1);
    transition-duration:.25s
}
.articleOverviewContentBoxShadow {
    box-shadow:0 0 8px #000000e6
}
.articleOverviewContentBoxText {
    padding:10px
}
.applicationContentMain.homePage>article>div.sectionHeaderPicture {
    height:450px;
    background-image:url(keyboard-pen.ed25d800f3cb2167.jpg);
    background-position:center;
    background-repeat:no-repeat;
    width:calc(100% - 20px);
    border-top:solid 10px white;
    border-left:solid 10px white;
    border-right:solid 10px white
}
.applicationContentMain.homePage>article>div.articleSectionPanel>section ul.detailsLevelList {
    margin-left:0;
    height:50px
}
.applicationContentMain.homePage>article>div.articleSectionPanel>section ul.detailsLevelList>li {
    height:50px;
    display:inline-block
}
.applicationContentMain.homePage>article>div.articleSectionPanel>section ul.detailsLevelList>li>button {
    height:28px;
    width:100px;
    cursor:pointer;
    border:none;
    border-top:solid gray 1px;
    border-bottom:solid gray 1px;
    background:none;
    color:#696969;
    outline:none;
    margin-top:10px;
    margin-bottom:10px;
    vertical-align:middle;
    font-weight:900
}
.applicationContentMain.homePage>article>div.articleSectionPanel>section ul.detailsLevelList>li>button:focus {
    outline:none;
    outline-color:transparent;
    transition:outline-color .7s ease-out 1s
}
.applicationContentMain.homePage>article>div.articleSectionPanel>section ul.detailsLevelList>li>button::-moz-focus-inner {
    border:0
}
.applicationContentMain.homePage>article>div.articleSectionPanel>section ul.detailsLevelList>li>button:disabled {
    background-color:#d3d3d3;
    color:green
}
.applicationContentMain.homePage>article>div.articleSectionPanel>section ul.detailsLevelList>li:first-child>button {
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border-left:solid gray 1px
}
.applicationContentMain.homePage>article>div.articleSectionPanel>section ul.detailsLevelList>li:last-child>button {
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    border-right:solid gray 1px
}
.applicationContentMain.homePage>article>div.articleSectionPanel>section blockquote {
    margin-left:10px;
    margin-right:10px;
    font-style:italic;
    color:#2f4f4f
}
.applicationContentMain.homePage>article>div.articleSectionPanel>section figcaption {
    margin-left:10px;
    color:#2f4f4f;
    font-weight:bold
}
.applicationContentMain.articlesPage article>div.sectionHeaderPicture {
    height:450px;
    background-image:url(keyboard-621829_1920.5261ad66168dde8a.jpg);
    background-position:center;
    background-repeat:no-repeat;
    width:calc(100% - 20px);
    border-top:solid 10px white;
    border-left:solid 10px white;
    border-right:solid 10px white
}
.applicationContentMain.productsServicesPage>article>div.sectionHeaderPicture {
    background-image:url(pliers-1024x200.622fba8e67e59c85.jpg);
    background-position:center;
    background-repeat:no-repeat;
    width:calc(100% - 20px);
    border-top:solid 10px white;
    border-left:solid 10px white;
    border-right:solid 10px white
}
.applicationContentMain.contactsPage>article>div.sectionHeaderPicture {
    background-image:url(pens-1024x200.74e2db516d10bf6d.jpg);
    background-position:center;
    background-repeat:no-repeat;
    width:calc(100% - 20px);
    border-top:solid 10px white;
    border-left:solid 10px white;
    border-right:solid 10px white
}
.applicationContentMain.contactsPage>article>div.articleSectionPanel>section>div {
    width:100%;
    height:40px;
    display:table
}
.applicationContentMain.contactsPage>article>div.articleSectionPanel>section>div>div.iconPanel {
    float:left;
    height:40px;
    color:#696969;
    line-height:40px;
    margin-right:10px
}
.applicationContentMain.contactsPage>article>div.articleSectionPanel>section>div>div.iconPanel>i {
    font-family:"Material Icons";
    font-weight:normal;
    font-style:normal;
    font-size:24px;
    line-height:1;
    text-transform:none;
    letter-spacing:normal;
    word-wrap:normal;
    white-space:nowrap;
    direction:ltr;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    -moz-osx-font-smoothing:grayscale;
    font-feature-settings:"liga";
    vertical-align:middle;
    color:#696969;
    height:40px;
    line-height:40px;
    display:table-cell!important
}
.applicationContentMain.contactsPage>article>div.articleSectionPanel>section>div>div.labelPanel {
    float:left;
    height:40px;
    color:#696969;
    line-height:40px;
    margin-right:10px
}
.applicationContentMain.contactsPage>article>div.articleSectionPanel>section>div>div.textPanel {
    float:right;
    height:40px;
    color:#696969;
    line-height:40px
}
.applicationContentMain.contactsPage>article>div.articleSectionPanel>section>div>div.textPanel>img {
    vertical-align:middle
}
.applicationContentMain.contactsPage>article>div.articleSectionPanel>section>div>div.textPanel>a {
    font-family:DejaVu Serif,Roboto,Arial,Noto Sans,Noto,sans-serif;
    font-size:14px;
    font-weight:800
}
@font-face {
    font-family:"Material Icons";
    font-style:normal;
    font-weight:400;
    src:url(MaterialIcons-Regular.1e50f5c2ffa6aba4.eot);
    src:local("Material Icons"),
    local("MaterialIcons-Regular"),
    url(MaterialIcons-Regular.7ea2023eeca07427.woff2) format("woff2"),
    url(MaterialIcons-Regular.db852539204b1a34.woff) format("woff"),
    url(MaterialIcons-Regular.196fa4a92dd6fa73.ttf) format("truetype")
}
.material-icons {
    font-family:"Material Icons";
    font-weight:normal;
    font-style:normal;
    font-size:24px;
    line-height:1;
    text-transform:none;
    letter-spacing:normal;
    word-wrap:normal;
    white-space:nowrap;
    direction:ltr;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    -moz-osx-font-smoothing:grayscale;
    font-feature-settings:"liga";
    vertical-align:middle
}
@media only screen and (max-width: 639px) {
    .phone-hidden {
        display:none
    }
    #headerPanel {
        height:auto
    }
    main {
        height:calc(100% - 50px);
        min-height:calc(100% - 50px)
    }
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
    .phone-hidden {
        display:none
    }
    #headerPanel {
        height:auto
    }
    main {
        height:calc(100% - 50px);
        min-height:calc(100% - 50px)
    }
}
@media only screen and (min-width: 1024px) {
    .pc-hidden {
        display:none!important
    }
}
