@import url("setmy-info-less/src/main/less/values/index.less");

#headerPanel {
    height: auto;
}

header {
    margin: auto;
    max-width: 1024px;
    width: auto;
    height: 50px;
    background: white;
    color: #4b4b4bde;
    font-size: 14px;
    font-weight: 800;
}

@import url("./header/index.less");
@import url("./navigation/index.less");
