@import url("setmy-info-less/src/main/less/values/index.less");

/*
:host {
    display: block;
}
*/

#headerPanel {
    height: auto;
    /*
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: @headerPanelHeight;
    background: @headerBackgroundColor;
    z-index: @z-index-2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    */
}

header {
    /*
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: @headerHeight;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 @defaultPadding;
    box-sizing: border-box;
    color: @headerTextColor;
    */
    margin: auto;
    max-width: 1024px;
    width: auto;
    height: 50px;
    background: white;
    color: #4b4b4bde;
    //font-family: DejaVu Serif,Roboto,Arial,Noto Sans,Noto,sans-serif;
    font-size: 14px;
    font-weight: 800;
}

@import url("./header/index.less");
@import url("./navigation/index.less");
