{
    "printWidth": 100,
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.html",
            "options": { "parser": "angular" }
        },
        {
            "files": "*.md",
            "options": { "printWidth": 120 }
        }
    ]
}
