@import url('setmy-info-less/src/main/less/values/index.less');

#consentBody {
    margin: auto;
    max-width: 1024px;
    width: auto;
    background: lightyellow;
    color: #4b4b4bde;
    font-family:
        "DejaVu Serif",
        Roboto,
        Arial,
        "Noto Sans",
        Noto,
        sans-serif;
    font-weight: 900;
    padding: 10px;
}

#consentBody p {
    display: inline;
}

#consentBody button {
    border-radius: 5px;
    border: solid gray 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 28px;
    vertical-align: middle;
    font-weight: 900;
    background-color: #d3d3d3;
    color: green;
    cursor: pointer;
}
