header > ul:last-child {
    width: 100px;
    height: 50px;
    float: right;
    margin-right: 10px;
}

header > ul:last-child > li {
    height: 50px;
    float: right;
}

header > ul:last-child > li:first-child > button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: solid gray 1px;
}

header > ul:last-child > li > button:disabled {
    background-color: #d3d3d3;
    color: green;
}

header > ul:last-child > li:last-child > button {
    /*
    border-top: solid gray 1px;
    border-bottom: solid gray 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 28px;
    vertical-align: middle;
    font-weight: 900;
    color: #696969;
    */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: solid gray 1px;
}

header > ul:last-child > li > button {
    /*
    width: auto;
    padding: 0 @defaultPadding;
    border: 1px solid @tertiaryColor;
    border-radius: @defaultBorderRadius;
    margin-left: @halfDefaultPadding;
    font-weight: 900;
    color: @navigationInactiveTextColor;
    */
    /*
    //height: 50px;
    width: 50px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    */
    border-top: solid gray 1px;
    border-bottom: solid gray 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 28px;
    vertical-align: middle;
    font-weight: 900;
    color: #696969;
}

/*
header > ul:last-child > li > button.active,
header > ul:last-child > li > button:disabled {
    color: @secondaryColor;
    background: @navigationHighLightTextColor;
    border-color: @navigationHighLightTextColor;
    cursor: default;
}
*/
