header > ul:last-child {
    width: 100px;
    height: 50px;
    float: right;
    margin-right: 10px;
}

header > ul:last-child > li {
    height: 50px;
    float: right;
}

header > ul:last-child > li:first-child > button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: solid gray 1px;
}

header > ul:last-child > li > button:disabled {
    background-color: #d3d3d3;
    color: green;
}

header > ul:last-child > li:last-child > button {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: solid gray 1px;
}

header > ul:last-child > li > button {
    border-top: solid gray 1px;
    border-bottom: solid gray 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 28px;
    vertical-align: middle;
    font-weight: 900;
    color: #696969;
}
