@import url("setmy-info-less/src/main/less/values/index.less");

/*
:host {
    display: block;
}
*/
#sidenav {
    /*
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: @sideNavWidth;
    flex-direction: column;
    background: @secondaryBackgroundColor;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.25);
    z-index: @z-index-9;
    overflow-y: auto;
    */

    //width: 290px;
    width: @sideNavWidth;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    opacity: 1;
}

#side-nav-header-panel {
    /*
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    height: @sideNavHeaderHeight;
    padding: 0 @defaultPadding;
    background: @sideNavHeaderBackgroundColor;
    color: @sideNavHeaderTextColor;
    box-sizing: border-box;
    */
    width: 100%;
    background: gray;
    height: 50px;
}

#side-nav-header-panel > button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: @defaultHeight;
    width: @defaultHeight;
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

#side-nav-content-panel {
    /*
    flex: 1 1 auto;
    */
    width: 100%;
    height: calc(100% - 50px);
    min-height: calc(100% - 50px);
    overflow-y: auto;
}

.sideNavMenuItems {
    list-style: none;
}

#sideNavigationHeaderPanel {
    width: 100%;
    background: gray;
    height: 50px;
}

#sideNavigationHeaderPanel > ul {
    height: 50px;
    width: 100%;
    color: #ffffffde;
    //font-family: DejaVu Serif,Roboto,Arial,Noto Sans,Noto,sans-serif;
    font-size: 14px;
    font-weight: 800;
}

#sideNavigationHeaderPanel > ul > li {
    float: left;
    height: 50px;
    list-style-type: none;
    display: table;
}

#sideNavigationHeaderPanel > ul > li > button {
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: none;
    background: none;
    color: #fff;
    outline: none;
    border-radius: 50%;
}

#sideNavigationHeaderPanel > ul > li > button > i {
    /*
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    vertical-align: middle;
    */

    font-family: "Material Symbols Outlined", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    vertical-align: middle;
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;

    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

#sideNavigationHeaderPanel > ul > li > span {
    height: 50px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;
}

#sideNavigationContentPanel {
    width: 100%;
    height: calc(100% - 50px);
    min-height: calc(100% - 50px);
    overflow-y: auto;
}

#sideNavigationContentPanel > ul {
    width: 100%;
    font-family: DejaVu Serif,Roboto,Arial,Noto Sans,Noto,sans-serif;
    font-size: 14px;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

#sideNavigationContentPanel > ul li.sideNavMenuItems {
    height: 50px;
    width: 100%;
    list-style-type: none;
    display: table;
    padding: 0;
    margin: 0;
}

#sideNavigationContentPanel > ul li.sideNavMenuItems > a.active {
    border-left: solid 4px rgba(237,38,61,.87);
    width: calc(100% - 4px);
}

#sideNavigationContentPanel > ul li.sideNavMenuItems > a > i {
    /*
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    vertical-align: middle;
    margin-right: 20px;
    */
    font-family: "Material Symbols Outlined", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    vertical-align: middle;
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;

    text-rendering: optimizeLegibility;
}

.sideNavMenuItems > li > a {
    display: flex;
    align-items: center;
    gap: @sideNavSpaceAfterIcon;
    height: @sideNavMenuItemHeight;
    padding: 0 @defaultPadding;
    color: @textColor;
    text-decoration: none;
    border-left: @menuItemSelectionVerticalBorderWidth solid transparent;
    box-sizing: border-box;
}

.sideNavMenuItems > li > a.active {
    border-left-color: @activeSelectedMenuItemColor;
    font-weight: bold;
}

.sideNavMenuItems > li > a:hover {
    background: @gray-100;
}
