@import url("setmy-info-less/src/main/less/values/index.less");

#sidenav {
    width: @sideNavWidth;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    opacity: 1;
}

#sideNavigationHeaderPanel {
    width: 100%;
    background: gray;
    height: 50px;
}

#sideNavigationHeaderPanel {
    width: 100%;
    background: gray;
    height: 50px;
}

@import url("./header/index.less");
@import url("./content/index.less");
