@import url("setmy-info-less/src/main/less/values/index.less");

:host {
    display: block;
}

main {
    display: block;
    padding-top: @headerPanelHeight;
    min-height: ~"calc(" @maxHeight ~" - " @footerHeight ~")";
    box-sizing: border-box;
    overflow-y: auto;
}
