@import url("setmy-info-less/src/main/less/values/index.less");

:host {
    display: block;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: @z-index-first;
}

#background canvas {
    width: 100%;
    height: 100%;
    display: block;
}
