@import url("setmy-info-less/src/main/less/values/index.less");

/*
:host {
    display: block;
}
*/
// TODO : after releasing newer version of less project, then this block i snot needed.
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: @z-index-first;
}

// TODO : after releasing newer version of less project, then this block i snot needed.
#background canvas {
    width: 100%;
    height: 100%;
    display: block;
}
